<div class="snowflakes" *ngIf="season === 'winter'">
    <div class="sun"></div>
    <h1>Winter</h1>
    <div class="snowflake">❅</div>
    <div class="snowflake">❆</div>
    <div class="snowflake">❅</div>
    <div class="snowflake">❆</div>
    <div class="snowflake">❅</div>
    <div class="snowflake">❆</div>
    <div class="snowflake">❅</div>
    <div class="snowflake">❆</div>
    <div class="snowflake">❅</div>
    <div class="snowflake">❆</div>
    <div class="snowflake">❅</div>
    <div class="snowflake">❆</div>
</div>


<div class="spring" *ngIf="season === 'spring'">
    <div class="sun-spring"></div>
    <h1>Spring</h1>
</div>


<div class="summer" *ngIf="season === 'summer'">
    <div class="sun-summer"></div>
    <h1>Summer</h1>
</div>


<div class="leaves" *ngIf="season === 'autumn'">
    <div class="sun-autumn"></div>
    <h1>Autumn</h1>
    <div class="leaf">🍁</div>
    <div class="leaf">🍂</div>
    <div class="leaf">🍁</div>
    <div class="leaf">🍂</div>
    <div class="leaf">🍁</div>
    <div class="leaf">🍂</div>
    <div class="leaf">🍁</div>
    <div class="leaf">🍂</div>
    <div class="leaf">🍁</div>
    <div class="leaf">🍂</div>
    <div class="leaf">🍁</div>
</div>

