<div class="snowflakes" *ngIf="season === 'winter'">
    <div class="sun"></div>
    <h1>Winter</h1>
    <div class="snowflake">❅</div>
    <div class="snowflake">❆</div>
    <div class="snowflake">❅</div>
    <div class="snowflake">❆</div>
    <div class="snowflake">❅</div>
    <div class="snowflake">❆</div>
    <div class="snowflake">❅</div>
    <div class="snowflake">❆</div>
    <div class="snowflake">❅</div>
    <div class="snowflake">❆</div>
    <div class="snowflake">❅</div>
    <div class="snowflake">❆</div>
</div>


<div class="leaves" *ngIf="season === 'summer'">
    <h1>Autumn</h1>
    <div class="leaf">🍁</div>
    <div class="leaf">🍂</div>
    <div class="leaf">🍁</div>
    <div class="leaf">🍂</div>
    <div class="leaf">🍁</div>
    <div class="leaf">🍂</div>
    <div class="leaf">🍁</div>
    <div class="leaf">🍂</div>
    <div class="leaf">🍁</div>
    <div class="leaf">🍂</div>
    <div class="leaf">🍁</div>
</div>